@import (reference) '~antd/es/style/themes/index.less';
@import '../../themes/default.less';
@import './batch-operation.less';
@import './table-config-header.less';
@import './table-footer.less';

@table-prefix-cls: ~'@{erda-prefix}-table';
@ant-table-prefix-cls: ~'@{ant-prefix}-table';

.@{table-prefix-cls} {
  display: flex;
  flex-direction: column;
  background: @white;

  &-content {
    flex: 1;
    overflow-y: auto;
  }

  &-hide-header {
    margin: 0;
  }

  .@{ant-table-prefix-cls}-content {
    margin: 0 1rem;
  }

  .@{ant-table-prefix-cls} {
    border-radius: 0 !important;
  }

  .@{ant-table-prefix-cls}-tbody td {
    line-height: 30px !important;
  }

  .@{ant-table-prefix-cls}-tbody tr:not(.ant-table-measure-row) {
    td {
      padding: 4px 12px;
    }
  }

  th {
    padding: 4px 12px !important;
  }

  // sorter
  &-sort-cell {
    padding-right: 32px;
  }

  &-menu-item {
    color: unset;
    cursor: pointer;
    margin-right: 4px;
  }

  // action more
  &-action-more {
    cursor: pointer;
    padding: 4px;
    border-radius: 2px;
  }

  &-menu-item-disabled {
    color: @darkgray;
    cursor: not-allowed;
  }

  &-menu-icon {
    position: relative;
    margin-right: 4px;
    top: 2px;
  }

  &-sorter-overlay {
    width: 160px;
    min-width: 160px !important;

    .@{ant-table-prefix-cls}-dropdown-menu-title-content > span {
      color: @color-table-color;
    }
  }

  &-justify-center {
    justify-content: center;
  }
  &-justify-start {
    justify-content: flex-start;
  }
  &-justify-end {
    justify-content: flex-end;
  }

  &-sorter {
    cursor: pointer;
    display: flex;
    align-items: center;

    &-icon {
      position: relative;
      top: 3px;
      font-size: 14px;
      color: @black-4;
      padding-left: 4px;
    }

    &-icon-content {
      position: relative;
      top: 2px;
    }
  }

  .link {
    color: unset;
    cursor: pointer;
    margin-right: 4px;
  }

  .@{ant-table-prefix-cls}-tbody > tr.ant-table-row:hover > td {
    background: @item-selected-bg;

    // .erda-table-td-title {
    //   color: $color-table-text-highlight;
    // }
  }
}
