@import (reference) '~antd/es/style/themes/index.less';
@import '../../themes/default.less';

@form-item-prefix-cls: ~'@{ant-prefix}-formily-item';

.@{ant-prefix}-erda-form {
  .@{form-item-prefix-cls}-label {
    color: rgba(48, 38, 71, 0.6);
    font-size: 12px;
  }
}
